[submodule "telephony-exotel"]
	path = packages/ellaisys/telephony-exotel
	url = https://github.com/ellaisys/telephony-exotel.git

[submodule "aws-cognito"]
	path = packages/ellaisys/aws-cognito
	url = https://github.com/ellaisys/aws-cognito.git